body {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		color: #000000;
		}
		header  { grid-area: head; }
		nav     { grid-area: nav;  }
		footer  { grid-area: foot; }
		section { grid-area: section; }
		article { grid-area: main; 
				margin: auto;} 
		aside   { grid-area: side; 
				margin: auto;}
			
			.wrapper {
			display: grid;
			grid-template-columns: 	repeat(6, 1fr);
			grid-template-rows: auto auto auto;
			grid-template-areas: 
				"head head head head head head"
				"nav  nav  nav nav nav nav"
				"side side side main main main"
				"section section section section section section"
				"foot foot foot foot foot foot";
			margin: 0;
			}
			
			.cards {
			margin: 5%;
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: 
			"nav   nav   nav"
			"card1 card2 card3"
			"card4 card5 card6"
			}
		
			.card1, .card2, .card3, .card4, .card5, .card6 {
				padding: 0.75em;
				margin: 0.25em;
				color: whitesmoke;
				background-color: #041C33;
				border: 0.25em solid #8EAEBD;
			}
		
			.card1 { grid-area: card1}
			.card2 { grid-area: card2}
			.card3 { grid-area: card3}
			.card4 { grid-area: card4}
			.card5 { grid-area: card5}
			.card6 { grid-area: card6}
		
			img {
				max-width: 100%;
				border-radius: 0%;
				display: block;
				margin: 0 auto;
				align-content: center;
			}
			#details1, #details2, #details3, #details4, #details5, #details6 {display: none;}
		
			#showLess1, #showLess2, #showLess3, #showLess4, #showLess5, #showLess6 {
				color: oldlace;
				font-weight: bold;
			}
			
			.wrapper > * {
				margin: 0;
				padding: 0.5em;
				color: white;
				font-size: 150%;			
			}
			
			h1 {
				font-family: Montserrat, sans-serif;
				font-size: 4em;
				font-weight: bold;
				color: whitesmoke;
				text-align: center;
			}
			h2 {
				font-family: Montserrat, sans-serif;
				font-size: 2em;
				text-align: center;
				color: whitesmoke;
			}
			h3 {
				font-family: Montserrat, sans-serif;
				font-size: 1em;
				text-align: center;
				color: whitesmoke;
				padding: 0.8%;
			}
			h4 {
				font-family: Montserrat, sans-serif;
				font-size: .8em;
				text-align: center;
				color: #97A2A8;
				padding: 0.8%;
			}
			img {
				border-radius: 10px;
				max-width: 70%;
				/* border-style: solid; */
				margin: auto;
			}
			p {
				font-family: 'Libre Baskerville', serif;
				font-size: .6em;
				color: whitesmoke;
				line-height: 1.5;
				text-align: center;
				padding-left: 5em;
				padding-right: 5em;
			}
			.intro-text {
				font-family: 'Libre Baskerville', serif;
				font-size: 1em;
				color: whitesmoke;
				line-height: 1.5;
				text-align: center;
				padding-left: 3em;
				padding-right: 3em;
			}
			.intro-list {
				font-family: 'Libre Baskerville', serif;
				font-size: .8em;
				color: whitesmoke;
				line-height: 1.5;
				text-align: center;
				padding-left: 3em;
				padding-right: 3em;
			}
			.intro-div {
				padding-top: 3em;
				padding-bottom: 3em;
				margin-left: auto;
				margin-right: auto;
			}
			span {
				font-family: Montserrat, serif;
				font-size: .6em;
				color: white;
				font-weight: bold;
				line-height: 1.5;
				text-align: center;
			}
			a {
				color: whitesmoke;
				font-size: .9em;
			}
			strong {
				color: #97A2A8;
				font-size: .8em;
				font-style: italic;
				font-weight: bold;
				text-align: center;
			}
			li {
				font-family: 'Libre Baskerville', serif;
				font-size: .6em;
				color: whitesmoke;
				margin: auto;
				padding: .5em;
				line-height: 1.5;
				text-align: center;
			}
			.center {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 70%;
			}
			footer {
					font-family: Baskerville, serif;
					font-weight: Bold;
					background-color: #041C33;
					padding: 1em;
					text-align: center;
					color: white;
			}
			.seemore {
					font-family: Montserrat, serif;
			}
			header { background-color: #041C33; }
			nav    { background: #041C33; }
			aside  { background-color: #30415D; }
			article { background-color: #30415D; }
			section { background-color: #30415D; }
			nav {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				align-items: center;
				font-size: .6em;
				text-align: center;
				font-weight: bold;
			}
			.navLinks {
				text-decoration: none;
				color: white;
			}
			.navLinks:hover {
				color: #8EAEBD;
			}
			.row {
			display: flex;
			}
			.column {
			flex: 50%;
			}
			.gradient-text {
			background-image: linear-gradient(to right, #CF6766, #8EAEBD);
			background-size: 100%;
			background-color: #20002B;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
			}
